body {
  background: $offWhiteLight;
}

h1 {
  font-family: 'Cardo', serif;
  font-weight: 400;
  color: $brown-500;
}

p {
  font-family: 'Spartan', sans-serif;
  font-weight: 300;
  color: $brown-100;
}

.wrapper {
  margin-inline: auto;
  padding-inline: 20px;
}