@font-face {
  font-family: 'Cardo';
  src: url('./assets/fonts/Cardo-Regular.ttf');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan';
  src: url('./assets/fonts/LeagueSpartan-Regular.ttf');
  font-display: swap;
  font-style: normal;
}