/* Variables */

// Colors
$brown-500: #443528;
$brown-100: #dda15e;
$white: #FFFFFF;
$offWhite: #E6DDD0;

$lightWhite: #FFFAF7;
$black: #000000;
$lightBlack: #545454;
$boxShadowCard:  rgba(0, 0, 0, 0.35) 0px 5px 15px;

// Font Sizes
$font-s: 1rem; // 16px
$font-sm: 1.25rem; // 20px
$font-med: 2rem; // 32px
$font-ml: 2.5rem; // 40px
$font-lg: 3rem; // 48px
$font-xlg: 4rem; // 64px
$font-xxlg: 5rem; // 80px

// Font family
$font-primary: 'Usual';
$font-secondary: 'Cabin-Sketch';

// Font weight
$bold: 700;
$medium: 500;
$regular: 400;

// Height
$headerHeight: 3.5rem;

