/* Small devices */
@include breakpoint-down(small) {
  .container { margin-inline: 1rem; }
  .section { padding-block: 4rem 1rem;}
  
  .home__title { font-size: 2rem; }
  .footer__content { gap: 1.5rem; }
}

/* Medium devices */
@include breakpoint-up(medium) {
  .home__container,
  .coneShaped__container,
  .croquembouche__container,
  .customized__container,
  .israel__container,
  .about__container {
    grid-template-columns: .7fr;
    justify-content: center;
  }
  
  .footer__content {
    grid-template-columns: repeat(2, max-content);
  }
}

@include breakpoint-up(tablet) {

  .footer__content {
    grid-template-columns: repeat(4, max-content);
  }
}

/* Large devices */
@include breakpoint-up(large) {
   .nav { 
    height: calc($headerHeight + 1.5rem);
    column-gap: 3rem; 
    &__toggle,
    &__close {
      display: none;
    }
    &__list {
      flex-direction: row; column-gap: 3rem;
    }
    &__menu {
      margin-left: auto;
    }
  } 

  .section {
    padding-block: 7rem 1.5rem;
    &__subtitle { margin-bottom: .75rem; }
  }
}
