/* Small devices */
@include breakpoint-down(small) {
  .container { margin-inline: 1rem; }
  .section { padding-block: 4rem 1rem;}

  .home__title { font-size: 2rem; }
  .footer__content { gap: 1.5rem; }
}

/* Medium devices */
@include breakpoint-down
