.footer {
  position: relative;
  padding-block: 3rem 2rem;
  overflow: hidden;

  &__container { row-gap: 3rem; }
  &__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: $black;
    font-size: $font-sm;
    font-weight: $medium;
    margin-bottom: 1rem;
    transition: color .3s;
      & img { width: 50px; }
      &:hover { color: $lightBlack; }
  }
  &__description,
  &__link,
  &__information {
    font-size: $font-s;
  }
  &__content,
  &__links { display: grid; }
  &__content {
    grid-template-columns: repeat(2, max-content);
    gap: 2.5rem;
  }
  &__title {
    font-size: $font-sm;
    margin-bottom: 1.5rem;
  }
  &__links { row-gap: .5rem; }
  &__link { color: $lightBlack; transition: color .3s; }
}