.form {
  
  padding-block: 4rem 1rem;
  
  &__subtitle {
    font-family: $font-title;
    font-size: $font-ml;
  }
  &__description {
    padding: 1rem;
    width: 60%;
    margin: auto;
    max-width: 800px;
    text-align: center;
  }
}