/* dev */
#wpadminbar { display: none; }

.home {
  position: relative;

  &__container {
    row-gap: 3rem;
    padding-top: 2rem;
  }
  &__img { width: 300px; justify-self: center; }
  &__data { text-align: center; }
  &__title { 
    font-size: $font-med;
    font-family: $font-title;
    margin-bottom: 1rem;

    & div {
      display: flex;
      align-items: center;
      justify-content: center;column-gap: .5rem;
    }
  }
  &__description {
    padding: 0 1rem;
    margin-bottom: 2.5rem;
  }
}

.coneShaped { 
  position: relative;
  &__container { row-gap: 3rem; }
  &__data { text-align: center; }
  &__title { 
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
  }
  &__img { width: 300px; justify-self: center; }
}

.croquembouche {
  position: relative;
  &__container { row-gap: 3rem; }
  &__data { text-align: center; }
  &__title { 
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
  }
  &__description {
    padding: 0 1rem;
    margin-bottom: 2.5rem;
  }
  &__img { width: 300px; justify-self: center; }
}