/* dev */
#wpadminbar { display: none; }

// Hero
.hero {
  margin-top: 6rem;
}

.section {
  
  &__text {
    padding-bottom: 35px;
  }
  &__image {
    text-align: center;
    margin: auto;
    
    img { max-width: fit-content };
  }
 
  @include breakpoint-up(large) {
    display: grid;
  }
}